h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 10%;    
    color: #323F4B;

}

form{
    width: 100%;
    border-radius: 10px;
    margin: auto;
    padding: 0px;
    background-color: #E7F1FF;
}

form input{
    padding: 5px;
    border: 2px solid #f5f5f5;
    border-radius: 3px;
    margin: 8px;
}

#btRegistrar{
    text-align: center;
    font-weight: bold;
    
}

label{
    width: 100px;
    height: 68px;
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
    
    /* Label / ExtraBold */
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 1000;
    font-size: 12px;
    line-height: 10px;
    /* identical to box height, or 12px */
    
    letter-spacing: 1.5px;
    text-transform: uppercase;
    
    /* Neutral / Grey 800 */
    
    color: #323F4B;
    }

    input{width: 569px;
        height: 68px;
        left: 791px;
        top: 250px;}