/*:hover{
background-color: gold;
}
*/

a:visited{
    color: brown;
position: right;
}

a:link{

    color: antiquewhite ;
    position: right;
}


a.logotitulo{
    width: 428px;
    height: 336px;
    left: 545px;
    top: 112px;
}

h3.software{
    width: 240px;
    height: 60px;
    left: 589px;
    top: 508px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    
    text-align: center;
    letter-spacing: 0.15px;
    
    /* Neutral / Grey 800 */
    
    color: #323F4B;

}

h3.desarrolla{
    width: 240px;
    height: 54px;
    left: 589px;
    top: 584px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    
    text-align: center;
    letter-spacing: 0.15px;
    
    /* Neutral / Grey 800 */
    
    color: #323F4B;

}


.botonUsuario{
    box-sizing: border-box;

    width: 437px;
    height: 52px;
    left: 537px;
    top: 680px;
    margin: .5%;
    
    /* Primary / Primary 500 */
    background: rgba(47, 128, 237, 0.75);
    /* Neutral / Grey 800 */
    
    border: 0.5px solid #323F4B;
    border-radius: 50px;
    text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

/* Neutral / White */

color: #FFFFFF;

}

.botonContraseña{


    box-sizing: border-box;

    width: 437px;
    height: 52px;
    left: 537px;
    top: 782px;
    margin: .5%;

/* Primary / Primary 500 */

background: rgba(47, 128, 237, 0.75);
/* Neutral / Grey 800 */

border: 0.5px solid #323F4B;
border-radius: 50px;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

/* Neutral / White */

color: #FFFFFF;
}


.botonIniciarSesion{


    box-sizing: border-box;

    width: 437px;
    height: 52px;
    left: 537px;
    top: 782px;
    margin: .5%;

/* Primary / Primary 500 */

background: #2F80ED; 
/* Neutral / Grey 800 */

border: 0.5px solid #323F4B;
border-radius: 50px;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

/* Neutral / White */

color: #FFFFFF;


}

.botonOlvidar{
width: 421px;
height: 36px;
left: 547px;
top: 909px;
border: 0.5px solid transparent;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

    /* or 19px */
text-align: center;
letter-spacing: 0.15px;
background-color: #E7F1FF;
color: #000000;
text-align: center;
letter-spacing: 0.15px;

color: #000000;
}

img.logotitulo{
    width: 428px;
    height: 336px;
    left: 545px;
    top: 112px;
}

button {
    text-align: center;
    font-weight: normal;
    box-sizing: border-box;

width: 437px;
height: 52px;
left: 534px;
top: 823px;

/* Primary / Primary 500 */

background: #2F80ED;
/* Neutral / Grey 800 */

border: 0.5px solid #323F4B;
border-radius: 50px;

text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

/* Neutral / White */

color: #FFFFFF;

  }



  .botonCrearCuenta{
    width: 421px;
height: 36px;
left: 550px;
top: 885px;
border: 0.5px solid transparent;

font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

text-align: center;
letter-spacing: 0.15px;

color: #2F80ED;
    /* or 19px */
    
        /* or 19px */
    text-align: center;
    letter-spacing: 0.15px;
    background-color: #E7F1FF;
    }

a.GestionUsuarios{
    left: 550px;
    top: 885px;
    text-align: left;
    font-weight: normal;
    box-sizing: border-box;
}

h1.GestionUsuarios{
    width: 308px;
    height: 32px;
    left: 96px;
    top: 72px;
    
    /* H1 */
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */
    
    
    /* Neutral / Grey 800 */
    
    color: #323F4B;

}